@import url("qrStandard.css");
@import url(../homepage/darkMode.css);
@media screen and (min-width:600px) {
    body {
        font-family: var(--font);
        background-color: var(--bgColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
    
    .form {
        text-align: center;
        background: white;
        padding: 5vh;
        border-radius: 10px;
        box-shadow: 0px 4px 10px var(--shadowEffect);
    }
    
    h2 {margin-bottom: 1vh;}
    .text.dark-mode{color: white;}

    p {
        font-size: 15px;
        color: var(--pColor);
        margin-bottom: 2vh;
    }
    
    input, button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
    }
    
    button, #return {
        margin-top: 2vh;
        background: var(--buttonBg);
        border: none;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s ease;
    }
    
    button:hover {background: var(--buttonEffect);}
    
    #qrcode {
        margin-top: 2vh;
        display: flex;
        justify-content: center;
    }    
    #error{
        display: none;
        color: #D60D0D;
    }
}
